<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Source+Sans+Pro:wght@300&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="../css/css2/bootstrap.css">
    <link rel="stylesheet" href="../css/css2/style.css">
     <title>Taste Gastronomic</title>
</head>
<body>
    <header id="inicio" class="header_4">
        <section>
            <nav class="menu1">
                    <span><a href="../index.html">Gastronomía</a> </span>
                    <span><a href="histoty.html">Historias</a></span>
                    <span><a href="menu.html">Menu</a></span>
                    <span><a href="taste.html">Sabor</a></span>
                    <span><a href="contact.html">Contacto</a></span>
            
            </nav>
        </section>
    </header>
    <main>
        <section class="sazon">
            <h2>Sazón en nuestras comidas</h2>
            <article id="grid_taste" >
                
                <p class="textotaste">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil animi totam at sint
                    qui autem. Ut aliquam ipsa, dicta natus libero voluptatem praesentium vero molestiae nihil, eaque
                    vitae reiciendis debitis!
                    Magnam animi, iure ut temporibus facilis porro ratione in quibusdam distinctio beatae nulla quam
                    odit dolorum expedita? Est iusto quis debitis pariatur nobis. Veritatis ipsum eius aperiam? Culpa,
                    minima quia.</p>
               <img src="https://www.elespectador.com/resizer/vUapTQpH4rxdfKFo45f1aGGlR-4=/920x613/filters:format(jpeg)/arc-anglerfish-arc2-prod-elespectador.s3.amazonaws.com/public/BTN6KV7NVZFORCT5KQWAHKCDNU.jpg"
                        alt="sazon" class="textotasteimg">
           
          
               <img src="https://cdn2.cocinadelirante.com/sites/default/files/styles/gallerie/public/images/2018/10/como-tener-la-sazon-perfecta.jpg"
                        alt="sazon" class="textotasteimg2">
                <p class="textotaste2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae alias ab fuga
                    quam similique ad praesentium, minima dolorem quis dolor itaque voluptas eum esse tempora voluptate
                    quasi numquam iusto. Ipsum?
                    Ipsam doloribus, est quibusdam officiis ut cumque. Nobis ipsum ab modi, voluptates, repellendus
                    alias porro tempore aut quasi eveniet hic iure sint. Pariatur voluptate, eos nisi accusantium
                    repellat minima commodi.</p>
                
            </article>
        </section>  

        <section class="contact">

            <h2>¿Quieres contactarnos?</h2>
            <article class="bgr">
                <img src="../img/hoja2.png" alt="hojadelado">
                <a href="contact.html" class="buton"> Click Acá</a>
                <img src="../img/hoja1.png" alt="hojadelado">
            </article>
        </section>

    </main>
    <footer>
        &copy 2022. Realizado por Juana González
    </footer>
</body>
</html>